#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Git submodules in this repo
#
# Authors:
#   Ben O'Hara <bohara@gmail.com>
#

[submodule "dotsync"]
	path = dotsync
	url = https://github.com/dotphiles/dotsync.git
[submodule "zsh/dotzsh"]
	path = zsh/dotzsh
	url = https://github.com/dotphiles/dotzsh.git
[submodule "vim/dotvim"]
	path = vim/dotvim
    url = git@github.com:netscruff/dotvim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "dotfiles-private"]
	path = dotfiles-private
	url = git@gitlab.oit.duke.edu:dtb17/dotfiles-private.git
